<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html" lang="en">
<head th:replace="/layout :: head">
    <title>Edit</title>
</head>
<body>
<h3>edit product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/edit}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>

        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" th:field="*{price}"/>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" th:field="*{date}"/>
        </div>
        <input type="submit" value="edit"/>
        <p style="color: red" th:each="e : ${listERR}" th:text="${e.getDefaultMessage()}">

        </p>
    </form>
</div></body>
</html>